body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
  background-color: beige;
}
#productos {
  font-size: 1.5em;
  margin: 10px;
}
button {
  padding: 10px 20px;
  font-size: 1em;
  margin: 10px;
}
